<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Shrikhand" rel="stylesheet">
    <title>Salon</title>
  </head>
  <body>
    <div class="container pageMargin">
      <hr><hr>
      <h1>Shoes In Town</h1>
      <hr>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h2>List of Current Stylists:</h2>
          {% if stylists is not empty %}
            <ul>
              {% for stylist in stylists %}
                <li><a href="/get_stylist/{{ stylist.getId }}">{{ stylist.getName }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <h3>There aren't any Stylists listed yet...Enter some into the list with the form on the right =></h3>
          {% endif %}
          <form class="clearButton" action="/stylists/delete_all" method="post">
            <button type="submit" class="btn-lg btn-danger">Clear All Stylists</button>
          </form>
        </div>
        <div class="col-sm-6 form-group">
          <h2>Add a New Stylist to your Roster Here:</h2>
          <form class="styleForm" action="/add_stylist" method="post">
            <label for="stylist_name">
            <input class="form-control" id="stylist_name" type="text" name="stylist_name" placeholder="Name..."></label>
            <br>
            <br>
            <label for="stylist_scheduled_days">
            <input class="form-control" id="stylist_scheduled_days" type="text" name="stylist_scheduled_days" placeholder="Scheduled Days..."></label>
            <br>
            <br>
            <label for="stylist_specialties">
            <input class="form-control" id="stylist_specialties" type="text" name="stylist_specialties" placeholder="Specialties..."></label>
            <br>
            <br>
            <button class="btn-success btn-lg" type="submit">Add Stylist</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
