<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Shoe Genie</title>
  </head>
  <body>
    <div class="container pageMargin">
      <div class="jumbotron">
        <hr><hr>
        <h1 class="header">Shoe Genie</h1>
        <hr>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h2>If you would like to search for shoes by Store, you can choose from our list of local Stores <a href='/stores'><img src="https://cdn1.lockerdome.com/uploads/004570b27ce86d63d3dcef9d2b73fdb2987ffbe4dd1a2e8aecb0bde71b0eed3c_medium" alt="a photo of Shoe Salesman" /></a>
          </div>
          <div class="col-sm-6">
            <h2>If you would like to search for shoes by Brand, you can choose from our compilation of Brands <a href='/brands'><img src="http://www.soundfeet.com/wp-content/uploads/best-shoe-brands1.jpg" alt="colage of shoe brand logos" /></a></h2></h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
