.returnHome {
  text-align: center;
  font-size: 2em;
}

.header {
  text-align: center;
  font-size: 10em;
  font-family: 'Ruslan Display', cursive;
}

body {
  background-color: #1265ea;
}

.pageMargin {
  margin-top: 8em;
}

h2 {
  font-family: 'Baloo Da', cursive;
}

h3 {
  font-family: 'Almendra SC', serif;
}

li {
  font-family: 'Changa', sans-serif;
}
